$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$white: #fff;
$black: #000;
$bluePrint-blue: #2e54e8;
$darkGray: #D0D0D0;
$lightGray: #F8F8F8;

//RESPONSIVE BREAKPOINT
$bp-xlarge: 90em;    //1440px 
$bp-large: 75em;     //1200px
$bp-medium: 68.75em; //1100px
$bp-small: 56.25em;  //900px
$bp-xsmall: 43.75em; //700px

$mobile-large: 34.5em;
$mobile-medium: 31.25em;
$mobile-small: 28em;
$mobile-xsmall: 25em;

$mini: 18.75em;

$height-large: 75em;
$height-md: 43.75em;
